/* body{
    background-color: rgb(13, 255, 0);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo{
    color: rgb(255, 0, 0);
    font-size: 90px;
    font-weight: bold;
    text-align: left;
} */

.prueba{
    color: red;
    font-weight: bold;
    font-size: 400px;
    align-items: center;
}



